[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
django-rename-app = "*"
opencv-python = "*"
numpy = "*"
black = "*"
matplotlib = "*"
django-compressor = "*"
django-libsass = "*"
pandas = "*"
seaborn = "*"
catppuccin-matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.11"
