<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %} | 8089 Scouting App</title>
</head>

<body>
	<header>
		<div class="navigation">
			<a href="/">Home</a> |
			<a href="/event">Events</a> |
			<a href="/team">Teams</a>
		</div>
		<h1>{% block header %}{% endblock %}</h1>
	</header>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
	<footer>
		<!--<button>Scan QR</button>-->
	</footer>
</body>
</html>
