{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="{% static 'scouting_app/assets/favicon.ico' %}">
	
	{% compress css %}
	<link type="text/x-scss" href="{% static 'scouting_app/style.scss' %}" rel="stylesheet" media="screen">
	{% endcompress %}

	{% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} | 8089 Scouting App</title>
</head>

<body>
	<div class="container">
	<nav>
		<ul>
			<li><a class="button" href="/">Home</a></li>
			<li><a class="button" href="/event">Events</a></li>
			<li><a class="button" href="/team">Teams</a></li>
			<li><a class="button" href="/scan">QR</a></li>
			<li><a class="button" href="/rank">Rank</a></li>
		</ul>
	</nav>
	<h1>{% block header %}{% endblock %}</h1>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

	<footer>
		<!--<button>Scan QR</button>-->
	</footer>
	</div>
</body>
</html>
