{% extends 'scouting_app/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'Entry-page.css' %}"/>
{% endblock %}

{% block title %}Scouting App{% endblock %}
{% block header %}Welcome{% endblock %}

{% block content %}
<a class = "team" href="{% url 'team-stats' %}" target="_blank">Teams</a>
<a class = "events" href="{% url 'events-schedule' %}" target="_blank">Events</a></p>
<p><a class = "qr" href="{% url 'scan-qr' %}" target="_blank">Scan QR</a></p> 
{% endblock %}
