{% extends 'scouting_app/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'Events-schedule.css' %}"/>
{% endblock %}

{% block title %}Upcoming Events{% endblock %}
{% block header %}Events{% endblock %}


{% block content %}
<h2 class="left">Upcoming</h2>
<h2 class="right" style="color:#000">Latest</h2>

<table class="left">
	<tr>
    	<th>location</th>
        <th>date</th>
    </tr>
    <tr class="current">
    	<td>location</td>
        <td></td>
    </tr>
    <tr class="upnext">
    	<td>location</td>
        <td></td>
    </tr>
    <tr>
    	<td>location</td>
        <td></td>
    </tr>
     <tr>
    	<td>location</td>
        <td></td>
    </tr>
     <tr>
    	<td>location</td>
        <td></td>
    </tr>
</table>

<table class="right">
	<tr>
    	<th>location</th>
        <th>date</th>
    </tr>
    <tr>
    	<td><a href="default.asp" target="_blank">location</a></td>
      <td></td>
    </tr>
    <tr>
    	<td><a href="default.asp" target="_blank">location</td>
      <td></td>
    </tr>
     <tr>
    	<td><a href="default.asp" target="_blank">location</td>
      <td></td>
    </tr>
    <tr>
    	<td><a href="default.asp" target="_blank">location</td>
        <td></td>
    </tr>
    <tr>
    	<td><a href="default.asp" target="_blank">location</td>
        <td></td>
    </tr>
</table>
{% endblock %}
