{% extends "scouting_app/base.html" %}
{% block title %}Event {{ event.name }} {% endblock %}
{% block header %}{{ event.name }} {% endblock %}

{% block content  %}
<div style="float: right; width:50%;">
    <h3>Match List</h3>
    {% if unique_match_list %}
        {% for match in unique_match_list %}
            <div><a href="match/{{ match.0 }}/">Match {{ match.0 }}</a></div>
        {% endfor %}
    {% else %}
        <p>No matches are available.</p>
    {% endif %}
</div>
<br />
<div style="float: right; width:50%;">
    <h3>Team List</h3>
    {% if attending_teams %}
        {% for registration in attending_teams %}
            <div><a href="team/{{ registration.registered_team.number }}/">Team {{ registration.registered_team.number }}</a></div>
        {% endfor %}
    {% else %}
        <p>No matches are available.</p>
    {% endif %}
</div>
{% endblock %}
