{% extends "scouting_app/base.html" %}
{% block title %}Event {{ event.name }} {% endblock %}
{% block header %}{{ event.name }} {% endblock %}

{% block content  %}
<div class="event">
<details open="true">
	<summary>Match List</summary>
    {% if unique_match_list %}
		<div class="list">
		<ul>
        	{% for match in unique_match_list %}
				<li><a href="match/{{ match.0 }}/">Match {{ match.0 }}</a></li>
        	{% endfor %}
		</ul>
		</div>
    {% else %}
        <p>No matches are available.</p>
    {% endif %}
</details>
<br />
<details open="true">
	<summary>Team List</summary>
    {% if attending_teams %}
		<div class="list">
		<ul>
        	{% for registration in attending_teams %}
				<li><a href="team/{{ registration.registered_team.number }}/">Team {{ registration.registered_team.number }}</a></li>
        	{% endfor %}
		</ul>
		</div>
    {% else %}
        <p>No matches are available.</p>
    {% endif %}
</details>
</div>
{% endblock %}
