{% extends 'scouting_app/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'Match-stats.css' %}">
{% endblock %}

{% block title %}Match Stats{% endblock %}
{% block header %}Match Stats{% endblock %}

{% block content %}
<p>Event number</p>
<p style="font-size:20px">date/time</p>
<table class="left">
    <tr>
        <th>Red Alliance</th>
    </tr>
    <tr>
        <td></td>

        <td class="stat">21</td>
        <td class="measure">measure 1</td>
    </tr>
    <tr>
        <td class="team"><a href="default.asp" target="_blank">Rockway</a></td>
        <td class="stat">42</td>
        <td class="measure">measure 2</td>
    </tr>
    <tr>
        <td></td>
        <td class="stat">64</td>
        <td class="measure">measure 3</td>
    </tr>

    <tr><td class="space"></td></tr>

    <tr>
        <td></td>

        <td class="stat">21</td>
        <td class="measure">measure 1</td>
    </tr>
    <tr>
        <td class="team"><a href="default.asp" target="_blank">Rockway</a></td>
        <td class="stat">42</td>
        <td class="measure">measure 2</td>
    </tr>
    <tr>
        <td></td>
        <td class="stat">64</td>
        <td class="measure">measure 3</td>
    </tr>

    <tr><td class="space"></td></tr>

     <tr>
        <td></td>

        <td class="stat">21</td>
        <td class="measure">measure 1</td>
    </tr>
    <tr>
        <td class="team"><a href="default.asp" target="_blank">Rockway</a></td>
        <td class="stat">42</td>
        <td class="measure">measure 2</td>
    </tr>
    <tr>
        <td></td>
        <td class="stat">64</td>
        <td class="measure">measure 3</td>
    </tr>

   <tr><td class="space"></td></tr>

   <tr>
        <td class="team">Total</td>
        <td class="stat">381</td>

</table>
<table class="right">
    <tr>
        <th>Blue Alliance</th>
    </tr>
    <tr>
        <td></td>

        <td class="stat">21</td>
        <td class="measure">measure 1</td>
    </tr>
    <tr>
        <td class="team"><a href="default.asp" target="_blank">Rockway</a></td>
        <td class="stat">42</td>
        <td class="measure">measure 2</td>
    </tr>
    <tr>
        <td></td>
        <td class="stat">64</td>
        <td class="measure">measure 3</td>
    </tr>

    <tr><td class="space"></td></tr>

    <tr>
        <td></td>

        <td class="stat">21</td>
        <td class="measure">measure 1</td>
    </tr>
    <tr>
        <td class="team"><a href="default.asp" target="_blank">Rockway</a></td>
        <td class="stat">42</td>
        <td class="measure">measure 2</td>
    </tr>
    <tr>
        <td></td>
        <td class="stat">64</td>
        <td class="measure">measure 3</td>
    </tr>

    <tr><td class="space"></td></tr>

     <tr>
        <td></td>

        <td class="stat">21</td>
        <td class="measure">measure 1</td>
    </tr>
    <tr>
        <td class="team"><a href="default.asp" target="_blank">Rockway</a></td>
        <td class="stat">42</td>
        <td class="measure">measure 2</td>
    </tr>
    <tr>
        <td></td>
        <td class="stat">64</td>
        <td class="measure">measure 3</td>
    </tr>

   <tr><td class="space"></td></tr>

   <tr>
        <td class="team">Total</td>
        <td class="stat">381</td>

</table>
{% endblock %}