{% extends "scouting_app/base.html" %}
{% block title %} Match {{ match.match_number }}{% endblock %}
{% block header %}{{ event.name }}{% endblock %}

{% block content %}
<div class="match">

<ul>
{% if prevMatch != 0 %}
	<li><h2><a href="/event/{{ event_number }}/match/{{ prevMatch }}"></h3></li>
{% endif %}	<li><h2>Match {{ match_number }}</h2></li>
	<li><a href="/event/{{ event_number }}/match/{{ nextMatch }}"></a></li>
</ul>

{% if latest_match_list %}
<div class="redAlliance">
	<h3>Red Alliance - {{ r_score }}  {% if winner == 'Red' %}👑{% endif %}</h3>
	<table>
		<thead>
			<th>Team #</th>
			<th>Auto Score</th>
			<th>Auto Move</th>
			<th>TeleOp Score</th>
			<th>Endgame Score</th>
			<th>Endgame Time</th>
			<th>Tippy</th>
			<th>Disabled</th>
		</thead>
		<tbody>
    	{% for match in latest_match_list %}
    	{% if match.alliance == 'red' %}
		<tr>
			<td><a href="/team/{{ match.linked_team.number }}/">Team {{ match.linked_team.number }}</a></td>
            <td>{{ match.auto_score }}</td>
            <td>{{ match.auto_move }}</td>
            <td>{{ match.teleop_score }}</td>
            <td>{{ match.endgame_score }}</td>
            <td>{{ match.endgame_time }}</td>
            <td>{{ match.tippy }}</td>
            <td>{{ match.disabled }}</td>
		</tr>
        {% endif %}
    	{% endfor %}
		</tbody>
	</table>
</div>

<div class="blueAlliance">
    <h3>Blue Alliance - {{ b_score }} {% if winner == 'Blue' %}👑{% endif %}</h3>
	<table>
		<thead>
			<th>Team #</th>
			<th>Auto Score</th>
			<th>Auto Move</th>
			<th>TeleOp Score</th>
			<th>Endgame Score</th>
			<th>Endgame Time</th>
			<th>Tippy</th>
			<th>Disabled</th>
		</thead>
		<tbody>
    	{% for match in latest_match_list %}
    	{% if match.alliance == 'blue' %}
		<tr>
			<td><a href="/team/{{ match.linked_team.number }}/">Team {{ match.linked_team.number }}</a></td>
            <td>{{ match.auto_score }}</td>
            <td>{{ match.auto_move }}</td>
            <td>{{ match.teleop_score }}</td>
            <td>{{ match.endgame_score }}</td>
            <td>{{ match.endgame_time }}</td>
            <td>{{ match.tippy }}</td>
            <td>{{ match.disabled }}</td>
		</tr>
        {% endif %}
    	{% endfor %}
		</tbody>
	</table>

</div>

{% else %}
    <p>No team data is available for this match.</p>
{% endif %}
</div>
{% endblock %}
