{% extends "scouting_app/base.html" %}
{% block title %} Match {{ match.match_number }}{% endblock %}
{% block header %}{{ event.name }}{% endblock %}

{% block content %}
<h2> Match {{ match_number }} </h2>

{% if latest_match_list %}
    <ul>
    {% for match in latest_match_list %}
        <li><a href="team/{{ match.linked_team.number }}/">Team {{ match.linked_team.number }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No team data is available for this match.</p>
{% endif %}
{% endblock %}
