{% extends "scouting_app/base.html" %}
{% block title %} Match {{ match.match_number }}{% endblock %}
{% block header %}{{ event.name }}{% endblock %}

{% block content %}
<div class="match">
<table>
    <tr>
        <td>
            {% if prevMatch != 0 %}
                <a href="/event/{{ event_number }}/match/{{ prevMatch }}"><<<</a>
            {% endif %}
        </td>
        <td><h2>Match {{ match_number }}</h2></td>
        <td><a href="/event/{{ event_number }}/match/{{ nextMatch }}">>>></a></td>
    </tr>
</table>

{% if latest_match_list %}
<div class="redAlliance">
    <h3>Red Alliance - {{ r_score }}  {% if winner == 'Red' %}****{% endif %}</h3>
    {% for match in latest_match_list %}
        {% if match.alliance == 'red' %}
            <div>
                <a href="/team/{{ match.linked_team.number }}/">Team {{ match.linked_team.number }}</a>
                <table>
                    <tr>
                        <td>Auto score</td>
                        <td>{{ match.auto_score }}</td>
                    </tr>
                    <tr>
                        <td>Auto move</td>
                        <td>{{ match.auto_move }}</td>
                    </tr>
                    <tr>
                        <td>Teleop score</td>
                        <td>{{ match.teleop_score }}</td>
                    </tr>
                    <tr>
                        <td>Endgame score</td>
                        <td>{{ match.endgame_score }}</td>
                    </tr>
                    <tr>
                        <td>Endgame time</td>
                        <td>{{ match.endgame_time }}</td>
                    </tr>
                    <tr>
                        <td>Tippy</td>
                        <td>{{ match.tippy }}</td>
                    </tr>
                    <tr>
                        <td>Disabled</td>
                        <td>{{ match.diabled }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% endfor %}
</div>

<div class="blueAlliance">
    <h3>Blue Alliance - {{ b_score }} {% if winner == 'Blue' %}****{% endif %}</h3>
        {% for match in latest_match_list %}
        {% if match.alliance == 'blue' %}
            <div>
                <a href="/team/{{ match.linked_team.number }}/">Team {{ match.linked_team.number }}</a>
                <table>
                    <tr>
                        <td>Auto score</td>
                        <td>{{ match.auto_score }}</td>
                    </tr>
                    <tr>
                        <td>Auto move</td>
                        <td>{{ match.auto_move }}</td>
                    </tr>
                    <tr>
                        <td>Teleop score</td>
                        <td>{{ match.teleop_score }}</td>
                    </tr>
                    <tr>
                        <td>Endgame score</td>
                        <td>{{ match.endgame_score }}</td>
                    </tr>
                    <tr>
                        <td>Endgame time</td>
                        <td>{{ match.endgame_time }}</td>
                    </tr>
                    <tr>
                        <td>Tippy</td>
                        <td>{{ match.tippy }}</td>
                    </tr>
                    <tr>
                        <td>Disabled</td>
                        <td>{{ match.diabled }}</td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% else %}
    <p>No team data is available for this match.</p>
{% endif %}
</div>
{% endblock %}
