{% extends "scouting_app/base.html" %}
{% block title %} Ranking {% endblock %}
{% block header %}Ranking{% endblock %}

{% block content %}
<div class="rank">
	<table>
		<thead>
			<th>Team #</th>
			<th>Width</th>
			<th>Serve</th>
			<th>Tippy</th>
		</thead>
		<tbody>
    	{% for team in teams %}
		<tr>
			<td class="highlight"><a href="/team/{{ team.id }}/">Team {{ team.id }}</a></td>
			<td>{{ team.width|floatformat }}</td>
			<td>{{ team.swerve }}</td>
			<td>{{ team.tippy }}</td>
		</tr>
    	{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
