{% extends "scouting_app/base.html" %}
{% block title %} Ranking {% endblock %}
{% block header %}Ranking{% endblock %}

{% block content %}
<div class="rank">
	<table>
		<thead>
			<th>Team #</th>
			<th>Auto Score</th>
			<th>Teleop Score</th>
			<th>Endgame Score</th>
			<th>Final Rank</th>
		</thead>
		<tbody>
    	{% for key, value in ranked_teams.items %}
		<tr>
			<td class="highlight"><a href="/team/{{ key }}/">Team {{ key }}</a></td>
			{% for k2, v2 in value.items %}
            	<td>{{ v2 }}</td>
			{% endfor %}
		</tr>
    	{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
