{% extends "scouting_app/base.html" %}
{% block title %}Match Data Input{% endblock %}
{% block header %}Match Data Input{% endblock %}

{% block content %}
<div class="input">
    <div class="qrcode">
        <h2>Scan QR Code</h2>
        <div id="reader"></div>
    </div>
    
    <div class="form">
        <h2>Data Preview</h2>
        <form action="/scan/" method="post", id="myForm">
            {% csrf_token %}

            {#Field names must match keys in QR code dictionary#}
            <div class="formBlock">
            <div class="dataBlock">
                <label for="match_number">Match Number</label>
                <input type="text" value="" id="match_number" name="match_number">
            </div>
            <div class="dataBlock shade">
                <label for="linked_team">Team Name</label>
                <input type="text" value="" id="linked_team" name="linked_team">
            </div>
            <div class="dataBlock">
                <label for="linked_event">Linked Event</label>
                <input type="text" value="" id="linked_event" name="linked_event">
            </div>
            <div class="dataBlock">
                <label for="alliance">Alliance</label>
                <input type="text" value="" id="alliance" name="alliance">
            </div>
            <div class="dataBlock shade">
                <label for="auto_balance">Balance in Auto</label>
                <input type="text" value="" id="auto_balance" name="auto_balance">
            </div>
            <div class="dataBlock shade">
                <label for="auto_move">Movement in Auto</label>
                <input type="text" value="" id="auto_move" name="auto_move">
            </div>
            <div class="dataBlock">
                <label for="teleop_balance">Balanced in Teleop</label>
                <input type="text" value="" id="teleop_balance" name="teleop_balance">
            </div>
            <div class="dataBlock shade">
                <label for="parked">Parked in Endgame</label>
                <input type="text" value="" id="parked" name="parked">
            </div>
            <div class="dataBlock shade">
                <label for="endgame_score">Score in Endgame</label>
                <input type="text" value="" id="endgame_score" name="endgame_score">
            </div>
            <div class="dataBlock shade">
                <label for="endgame_time">Time in Endgame</label>
                <input type="text" value="" id="endgame_time" name="endgame_time">
            </div>
            <div class="dataBlock shade">
                <label for="penalty">Penalties</label>
                <input type="text" value="" id="penalty" name="penalty">
            </div>
            <div class="dataBlock shade">
                <label for="disabled">Did the robot become disabled</label>
                <input type="text" value="" id="disabled" name="disabled">
            </div>
            <div class="dataBlock shade">
                <label for="alliance_final_score">Alliance Final Score</label>
                <input type="text" value="" id="alliance_final_score" name="alliance_final_score">
            </div>
            <div class="dataBlock shade">
				<label for="scouter_comments">Scouter Comments</label>
                <input type="text" value="" id="scouter_comments" name="scouter_comments">
            </div>
            <div class="dataBlock shade">
                <label for="recorded_time">Recorded Time</label>
                <input type="text" value="" id="recorded_time" name="recorded_time">
            </div>
            
            <div class="dataBlock">
                <table>
                    <tr>
                        <td style="vertical-align: bottom;">
                            <div class="toggle">
                                <input type="checkbox" id="auto_submit" name="auto_submit" checked>
                                <label for="auto_submit"> Auto submit? </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            </div>

                <input class="button" type="button" value="Clear" onclick="clearForm()">
                <input class="button" type="submit" value="Submit Data">
        </form>
    </div>
</div>
</div>

<script>
    // Refill form with data from django context
    let my_dict = JSON.parse("{{ form_dict }}".replaceAll("&quot;", "\""));

    if(my_dict["auto_submit"]) {
        document.getElementById("auto_submit").checked = true;
    }

    for(const key in my_dict) {
        document.getElementById(key).value = my_dict[key];
    }
</script>

{% load static %}
<script src="{% static 'scouting_app/js/html5-qrcode.min.js' %}"></script>
<script src="{% static 'scouting_app/js/lzw.js' %}"></script>
<script src="{% static 'scouting_app/js/scanner.js' %}"></script>

{% endblock %}
