{% extends 'scouting_app/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'Team-stats.css' %}"/>
{% endblock %}

{% block title %}Team Stats{% endblock %}
{% block header %}team name{% endblock %}

{% block content %}
<p class="rank">420</p>
<h2>team name</h2>
<h3 style="text-align:center; color:#fff;font-weight:normal; margin-bottom:40px;">probable archetype</h3>
<p>dimensions:</p>

<table>
  <tr>
    <th></th>
    <th class="criterion">Floor load</th>
    <th class="criterion">Human load</th>
    <th class="criterion">Bottom</th>
    <th class="criterion">Middle</th>
    <th class="criterion">Top</th>
  </tr>
  <tr>
    <td class= "criterion" style="width:80px; color:#fc0">Cone</td>
    <td class="yes"></td>
    <td class="unknown"></td>
    <td class="no"></td>
    <td class="yes"></td>
    <td class="yes"></td>
  </tr>
    <td class="criterion" style="width:80px; color:#80f">Cube</td>
    <td class="no"></td>
    <td class="yes"></td>
    <td class="no"></td>
    <td class="yes"></td>
    <td class="yes"></td>
  <tr>
</table>
<table>
  <tr>
    <th></th>
    <th class="criterion">Mobility∣Park</th>
    <th class="criterion">Dock</th>
    <th class="criterion">Engage</th>
  </tr>
  <tr>
    <td class= "criterion" style="width:80px">Auto</td>
    <td class="yes"></td>
    <td class="no"></td>
    <td class="no"></td> 
  </tr>
  <tr>
    <td class= "criterion" style="width:80px">Teleop</td>
    <td class="yes"></td>
    <td class="yes"></td>
    <td class="no"></td>
  </tr>
</table>
{% endblock %}
