{% extends "scouting_app/base.html" %}
{% block title %}Team {{ team.number }} ({{ team.name }}){% endblock %}
{% block header %}Team {{ team.number }} ({{ team.name }}){% endblock %}

{% block content %}
<div class="team">
<details open="true">
<summary>Events</summary>
	<div class="list">
	<ul class="events">
    	{% for event in events %}
		<li><a href="/event/{{ event.registered_event.id }}/">{{ event.registered_event }}</a></li>
    	{% endfor %}
	</ul>
	</div>
</details>
<details>
	<summary>Matches</summary>
	<div class="list">
	<ul>
   		{% for match in matches %}
		<li><a href="/event/{{ match.linked_event.id }}/match/{{ match.match_number }}/">Match {{ match.match_number }}<span class='eventName'> - {{ match.linked_event }}</span></a></li>
   		{% endfor %}
	</ul>
	</div>
</details>
</div>
{% endblock %}
