$base-color: #fbf1c7;
$base-color2: #ebdbb2;
$text-color: #3c3836;
$subtext-color: #7c6f64;
$link-color: #d65d0e;
$link-color2: #c1530c;
$link-hcolor: #af3a03;

$redteam-color: #cc241d;
$blueteam-color: #458588;

@mixin center-flexbox {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

@mixin button($col1, $col2, $col3, $base) {
	background: $col1;
	color: $base;
	box-shadow: 0 5px 0 $col3;

	text-transform: uppercase;
	text-decoration: none;
	border-radius: 5px;

	padding: 0.5em;
	position: relative;

	&:hover {
		background: $col2;
		text-decoration: none;
		color: $base;
	}

	&:active {
		box-shadow: none;
		top: 5px;
	}
}

@import './style/base';
@import './style/navbar';
@import './style/event';
@import './style/match';
@import './style/team';
