/* Light Theme */
// $bg: #fbf1c7;
// $bg2: #ebdbb2;
// $text: #3c3836;
// $subtext: #7c6f64;
// $link: #d65d0e;
// $link2: #c1530c;
// $link-h: #af3a03;
// $red: #cc241d;
// $blue: #458588;

/* Dark Theme */
$bg: #282828;
$bg2: #3c3836;
$text: #ebdbb2;
$subtext: #d5c4a1;
$link: #fe8019;
$link2: #cb6614;
$link-h: #d65d0e;
$red: #fb4934;
$blue: #83a598;
