@mixin table-element($color) {
	border: 2px solid $color;
	border-radius: 5px;
	padding: 0.5rem;
}

@mixin match-table($color) {
	td {
		@include table-element($color);
		color: $color;
	}

	th, td.highlight {
		@include table-element($color);
		background: $color;
		color: $base-color;
	}

	a {
		color: $base-color;
		text-decoration: underline;

		&:hover {
			color: $base-color2;
		}
	}
}

.redAlliance {
	@include match-table($redteam-color);
}

.blueAlliance {
	@include match-table($blueteam-color);
}

.match {
	ul {
		@include center-flexbox;
		flex-direction: row;
		justify-content: center;

		list-style: none;
		padding-left: 0px;

		li {
			padding: 10px;
		}
	}
}
