@mixin table-element($color) {
	border: 2px solid $color;
	border-radius: 5px;
	padding: 0.5rem;
}

@mixin match-table($color) {
	td {
		@include table-element($color);
		color: $color;
	}

	th {
		@include table-element($color);
		background: $color;
		color: $lighttext-color;
	}
}

.redAlliance {
	@include match-table($redteam);
}

.blueAlliance {
	@include match-table($blueteam);
}

.match {
	ul {
		@include center-flexbox;
		flex-direction: row;

		list-style: none;
	}
}
