.team {
	@include dropdown;
	@include long-list;
	@include center-flexbox;
	padding-bottom: 10px;
	flex-basis: 100%;
	flex-flow: column;
	
	.list .events {
		flex-flow: column;
		justify-content: center;
	}

	details {
		margin: 10px;
	}
}
