<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link rel="stylesheet" href="{% static 'style.css' %}">

	<title>Team {{team.id}} | Scouting App</title>
</head>
<body>
	<h1>Team {{ team.id }}  ({{ team.name }})</h1>
	<p>Scouted on <i>{{ team.record_date }}</i></p>

	<p>The driving skill is: {{team.driving_skill}}</p>

	{% if died %}
		<p>They died.</p>
	{% else %}
		<p>They did not die.</p>
	{% endif %}
	{% if tipped %}
		<p>They tipped over.</p>
	{% else %}
		<p>They didn't tip.</p>
	{% endif %}

	<p>They scored {{team.points_scored}} points</p>
	<p><i>"{{ team.comments }}"</i></p>
</body>
</html>
