body {
	background-color:#a71f28;
}

table {
	background-color:#bbb;
    border:none;
    border-collapse:collapse;
}

th {
    border:none;
    text-align:left;
    background-color:#a71f28;
    color:#FFF;
}

td {
	border:1px solid;
    border-collapse:collapse;
    border-color:#FFf;
    padding:3px;
}

a {
  text-decoration:underline;
  color:#224;
}

a:hover {
  color:#fff;
}

.left {
	width:45%;
  float:left;
  margin-left:3%;
}

.right {
	width:45%;
	float:right;
  margin-right:3%;
}

.current {
	background-color:#000;
    color:#FFF;
    border:none;
}

.upnext {
	background-color:#555;
    color:#ccc;
}
    
.redwin {
	color:#300;
  background-color:#faa;
}

.bluewin {
	background-color:#aaf;
    color:#005;
}

